.heatmap-rect {
    border-radius: 5px;
    transition: fill 0.15s ease-in-out;
}

.heatmap-rect:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  }

.heading {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    max-width: 20px;
    line-height: 34px;
}

.para {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-align: left;
    margin-top: 1rem;
}

.container {
    background-color: #fff;
    box-shadow: 0px 4.5px 50.75px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.container-heading {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
}

.quantitative-data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quant-title {
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 15px;
    color: #808080;
}

.quant-value {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 25px;
}

#year {
    opacity: 0.5;
}

#icon {
    opacity: 0.2;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-left: 0.7rem;
    padding: 0.2rem 0 0.2rem 0;
}

.filter-title {
    color: rgba(0, 0, 0, 0.50);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1px;
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.dropdowns {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.label-container {
    font-size: 10px;
    font-family: 'Work Sans';
    font-weight: 400;
    text-align: left;
}
  